# ---------------AWS--------------
AWS_ACCESS_KEY_ID =xxxxxxxxxxx
AWS_SECRET_ACCESS_KEY = xxxxxxxxxx
AWS_REGION = us-west-2
AWS_S3_ENDPOINT_URL =https://s3.us-west-2.idrivee2.com

S3_BUCKET_NAME = bucket_name
TEMP_DIR =./samples

# --------------temporal --------------------
TEMPORAL_HOST = localhost:7233
TEMPORAL_NAMESPACE = default    
TEMPORAL_TASK_QUEUE = contract-review-queue

# --------------AI CONTRACT REVIEW --------------------
API_KEY = xxxxxxxxxxxxxxxxxx
MODEL_NAME = MiniMaxAI/MiniMax-M2.7
BASE_URL = "https://inference.dahl.global/v1"